---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/hero.png";
import loadingImage from "assets/loading.gif";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
import { Image } from "astro:assets";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24 gap-8">
  <div class="md:order-1 w-full overflow-hidden rounded-3xl border-4 border-black relative">
    <div class="z-10" style="position: relative; padding-bottom: 64.98194945848375%; height: 0;"><iframe src="https://www.loom.com/embed/c559e602085a451287a9b4fa8fa4dec1?sid=a6a3925b-aafe-4ce2-90f7-61f811d52e4b?hide_owner=true&hide_share=true&hide_title=true&hideEmbedTopBar=true" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>
    <div class="absolute top-0 mx-auto h-full w-full flex items-center justify-center">
      <img class="h-40" src={loadingImage.src} alt="loading" />
    </div>
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Collect & Verify Data found online
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Collabmining is a simple tool for collecting and publishing online data to the Decentralized Knowledge Graph.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="https://chromewebstore.google.com/detail/collabmining/mcpdnnnloahkpfllgbgmnclbhjfbddfi"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="ph:google-chrome-logo" />

        Get Started
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/Collabwriting/Truthchain"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-4 h-4" name="ph:github-logo" />
        GitHub Repo
      </Link>
    </div>
  </div>
</main>
